<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Sinatra Example - Cloud Foundry</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div id="wrapper">
			<main>
				<div id="content">
					<div class="innertube">
						<h2>IP: <%= @host %> - Port: <%= @port %> - DEA Index: <%= @index %></h2>
            <h2>User agent: <%= @agent %></h2>
            <h2>body: <%= @response_body %></h2>
					</div>
				</div>
			</main>
		</div>

	</body>
</html>
